<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel='stylesheet' href="/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>
    <strong id="tTitle">Transactions: </strong>
    <a href="/transactions" value='CRUD' class="button is-link">Show All</a>
    <div id="tDiv">
        <% transactions.forEach(transaction => { %>
            <hr />
            <p><strong>ID: </strong> <%= transaction.id %></p>
            <p><strong>Description: </strong> <%= transaction.description %></p>
            <p><strong>Amount: </strong> <%= transaction.amount %></p>
            <p><strong>Category: </strong> <%= transaction.category_name %></p>
            <a href="/transactions/<%= transaction.id %>" value='CRUD' class="button is-link">Show One</a>
            <form 
                method="POST" 
                action="/transactions/<%= transaction.id %>?_method=DELETE">
                <button type="submit" value="Delete Transaction" class="button is-danger">Delete Transaction</button>
            </form>
            <a href="/transactions/<%= transaction.id %>/edit" class="button is-warning">Edit Transaction</a>
        <% }) %>
    </div>
</body>
</html>
