<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h2>Transactions:</h2>
    <div>
        <% transactions.forEach(transaction => { %>
            <hr />
            <p>ID: <%= transaction.id %></p>
            <p>Description: <%= transaction.description %></p>
            <p>Amount: <%= transaction.amount %></p>
            <p>Category: <%= transaction.category_name %></p>
            <form 
                method="POST" 
                action="/transactions/<%= transaction.id %>?_method=DELETE">
                <button type="submit">Delete Transaction</button>
            </form>
            <a href="/transactions/<%= transaction.id %>/edit">Edit Transaction</a>
        <% }) %>
    </div>
</body>
</html>